$nav-breakpoint: 768px;
$bg-color: #2f2f2f;

.DesktopNavList {
    display: flex;

    li {
        margin: auto 2rem;
    }
}

.HamburgerNavList {
    &__container {
        background-color: $bg-color;
        position: absolute;
        width: 100%;
        top: 6rem;
        left: 0;

        z-index: 200;
    }

    .NavLink {
        padding: 2rem 0;
        padding-left: 2rem;
        &:active {
            background-color: lighten($bg-color, 10%);
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        padding: 1rem;
        cursor: pointer;
    }

    &__Burger {
        width: 3rem;
        filter: invert(1);
    }
}

.DesktopNavList,
.HamburgerNavList {
    li {
        list-style-type: none;
        a {
            display: block;
            color: white;
            text-decoration: none;
            font-family: 'Plus Jakarta Sans';
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}

// clickblocker allows the user to close the nav menu by clicking anywhere
.ClickBlocker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.6);
    z-index: 99;
}

// helper classes to hide and display the dropdown
.isNotActive {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

@media screen and (max-width: $nav-breakpoint) {
    .DesktopNavList {
        display: none;
    }

    .HamburgerNavList {
        display: block;
    }
}

@media screen and (min-width: calc($nav-breakpoint + 1px)) {
    .DesktopNavList {
        display: flex;
    }
    .HamburgerNavList {
        display: none;
    }
}
