.CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 67.5rem;

    & > * {
        flex-basis: 250px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__placeholder {
        height: 10rem;
        display: grid;
        place-content: center;
        p {
            font-size: 1.25rem;
        }
    }
}
