.NavBar {
    background-color: rgba(240, 240, 240, 1);
    padding: 2rem 1rem;

    a {
        color: black;
        text-decoration: none;

        &:hover {
            color: rgb(50, 50, 50);
        }
    }
}
