.HomePage {
    &__Heading {
        font-size: clamp(2.5rem, 5vw, 5rem);
        margin: 3rem 0;
    }

    &__flexContainer {
        margin: 5rem 0;

        display: flex;
        flex-wrap: wrap;

        & > * {
            flex-basis: 30rem;
            // min-width: 30rem;
            flex-grow: 1;
        }
    }

    &__Link {
        display: block;
        min-height: 24rem;
        background-color: black;

        display: grid;
        place-content: center;

        color: white;
        text-decoration: none;

        // position relative necessary for absPos image
        position: relative;

        h2 {
            font-size: 2rem;
            font-style: italic;
            z-index: 10;
        }

        // convert inline image to background image
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            position: absolute;
            z-index: 1;

            filter: brightness(0.5);
            transition: filter 50ms;
        }

        // on hover darken the image
        &:hover {
            img {
                filter: brightness(0.2);
            }
        }
    }

    &__favouritesSection {
        position: relative;
    }

    &__clearFavourites {
        display: block;
        box-sizing: border-box;

        padding: 0.5rem;
        background-color: transparent;
        border: none;
        border: 2px solid black;

        cursor: pointer;

        position: absolute;
        right: 0;
        top: 0;

        &:hover {
            background-color: #f1f1f1;
        }
    }
}
